@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "../../styles/colors.module.scss";
.title {
  @include fontStyle(700, 48px, 80px);
  margin-bottom: 12px;
}

.contactMethodBoundary {
  z-index: 5;
  transition: transform 1s;
}

.verticalLine {
  border-left: 3px solid var(--light-slate);
  height: 90px;
  margin-left: 50%;
  bottom: 0;
}

.contactMethodBoundary a svg {
  stroke: var(--light-slate);
}
.contactMethodBoundary a:hover svg {
  stroke: var(--green-500);
}

.contactMethodComponent:hover {
  transform: translate(0px, -2px);
}
